.grid
{
	display:grid;
	grid-template-columns: [col1] 80% [col2] 20%;
	grid-template-rows: [row1] 10% [row2] 80% [row3] 10%;
	padding:0;
	margin:0;
}

.tab_list
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	overflow:hidden;
	grid-column: col1 / span 1;
	grid-row: row1/ span 1;
	background-color: #91ae93;
}

.contact_list
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow:hidden;
	grid-column: col2 / span 1;
	grid-row: row1/ span 3;
	background-color: #9191ae;
}

.main
{
	display: flex;
	overflow:auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	grid-column: col1 / span 1;
	grid-row: row2/ span 1;
	height:100%;
	width:100%;
}

.input
{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
	grid-column: col1 / span 1;
	grid-row: row3/ span 1;
	background-color: #d8e22a;
}

