.grid
{
	display:grid;
	grid-template-columns: [col1] 50px [col2] auto;
	grid-template-rows: [row1] 10% [row2] 90%;
	padding-top:0.1%;
	margin:0;
	width:100%;
}

.picture
{
	display: flex;
	align-items: flex-start;
	justify-content:center;
	grid-column: col1 / span 1;
	grid-row: row1/ span 2;
}

.name
{
	grid-row: row1 / span 1;
	grid-column: col2 / span 1;
}

.name_presentation
{
	grid-row: row1 / span 1;
	grid-column: col2 / span 1;

	display: flex;
	justify-content: center;
}

.message
{
	grid-column: col2 / span 1;
	grid-row: row1/ span 2;
}

.presentation
{
	grid-column: col2 / span 1;
	grid-row: row1/ span 2;
	display: flex;
	justify-content: center;
}
