.body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%)
}

.row {
	margin-top: 5%;
}
