.page_name {
	align-items:center;
	background-color: #f1f1f1;
	padding: 12px;
  font-size: 24px;
  color: black;
}

.button_wrapper
{
	margin:10px;
}

.button
{
	border-radius: 20%; 
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 32px;
  font-size: 24px;
}

.main {
	display: flex;
	align-items:center;
	justify-content:space-between;
	box-sizing: border-box;
	background-color: #f1f1f1;
	overflow: hidden;
	grid-row: row1 /span 1;
	grid-column: col1 /span 2;
	padding-right: 5%;
}
