@import './library';

.container {
	display: flex;
	background-color: $off-white-color;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.content {
	display: flex;
	gap: 2em;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
