.grid
{
	display:grid;
	grid-template-columns: [col1] 10% [col2] 80% [col3] 10%;
	grid-template-rows: [row1] 15% [row2] 80% [row3] 10%;
	height:80%;
	width:80%;
	padding:0;
	margin:0;
}

.grid h1
{
	overflow:hidden;
	grid-row: row1 /span 1;
	grid-column: col1 /span 3;
	background-color: #a4a3a4; 
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	margin:0;
	padding:0;
}

.footer
{
	grid-row: row3 /span 1;
	grid-column: col2 /span 3;
	display:flex;
	flex-direction:row-reverse;
	margin:10px;
	padding:0;
}
.main
{
	overflow:hidden;
	grid-row: row2 /span 2;
	grid-column: col1 /span 3;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin:0;
	padding:0;
	background-color: #dddddd; 
}

.button_left_grid
{
	grid-row: row2 /span 1;
	grid-column: col1 /span 1;


	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.button_left
{
	height:20%;
	width:90%;
	justify-items:center;

	border-radius: 10%; 
	background-color: #1E49E0; /* Green */
  border: none;
  color: white;
}

.button_right_grid
{
	grid-row: row2 /span 1;
	grid-column: col3 /span 1;


	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.button_right
{
	height:20%;
	width:90%;

	border-radius: 10%; 
	background-color: #1E49E0; /* Green */
  border: none;
  color: white;
}
