@import './library';

@media screen and (max-width: 450px) {
	.title {
		font-size: 16px;
	}

	.nav_container {
		padding: 10px 25px 10px 25px;
		margin: 5px;
	}
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	background-color: $black-color;
	color: $white-font-color;
	padding: 15px 30px 15px 35px;
	margin: 8px;
	border-radius: 40px;
	box-sizing: border-box;

	@media screen and (max-width: 450px) {
		padding: 10px 25px 10px 25px;
		margin: 5px;
	}
}

.title {
	font-family: $font-family;
	color: $white-font-color;
	letter-spacing: 1px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 900;
	font-style: italic;
	font-size: 20px;

	&:visited {
		color: $white-font-color;
	}

	@media screen and (max-width: 450px) {
		font-size: 14px;
	}
}

.button_container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.profilePicButton {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
