.tab_single
{
	margin-left:5px;
	height:90%;
	width:20%;
	justify-items:center;
	background-color: #071574; /* Green */
	border: solid black thick;
  color: white;
}

.tab_single_active
{
	margin-left:5px;
	height:90%;
	width:20%;
	justify-items:center;
	background-color: #485fff; /* Green */
	border: solid black thick;
  color: white;
}
