.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}

.formSection {
    display: flex;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 460px) {
    .formContainer {
        width: 100%;
    }

    .formSection {
        display: flex;
        flex-direction: column;
    }
}