@import '../library';

.id_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
	gap: 10px;

	p {
		margin: 0;
	}
}

.fullname {
	font-family: $font-family;
	color: black;
	font-weight: 700;
	font-size: 24px;
}

.username {
	font-family: $font-family;
	font-weight: 500;
	font-size: 20px;
	color: #8D8D8D;
}

.blockIcon {
	font-size: 0.6em;
	vertical-align: -20%;
	margin-left: 5px;
	color: #ee4f4f;
	position: relative;
	display: inline-block;
  
	&:hover {
	  cursor: pointer;
  
	  &::before {
		opacity: 1;
		visibility: visible;
	  }
	}
  
	&::before {
	  content: "Block user";
	  position: absolute;
	  top: -20px;
	  left: 280%;
	  transform: translateX(-50%);
	  background-color: #333;
	  color: white;
	  padding: 5px 10px;
	  border-radius: 5px;
	  font-size: 12px;
	  opacity: 0;
	  visibility: hidden;
	  transition: opacity 0.3s, visibility 0.3s;
	}

	&.blocked::before {
		content: "Unblock user";
	  }
  }
  