.profilePic {
	border-radius: 100%;
}

.profilePic_stroke {
	@extend .profilePic;
	border: solid black 4px;
}

.onlineBorder {
	border: 4px solid green;
}

.offlineBorder {
	border: 4px solid grey;
}

.inGameBorder {
	border: 4px solid lightsalmon;
}