@import '../../styles/library';

.stats_container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px 35px;
	gap: 45px;
	border: 5px solid $black-color;
	box-shadow: 3px 4px 0px $black-color;
	border-radius: 20px;

	@media only screen and (max-width: 900px) {
		max-width: 100%;
		flex-wrap: wrap;
		gap: 20px;
		padding: 15px 30px;
	}
}

.stats_element {
	font-family: $font-family;
}

.stats_element_title {
	font-size: 20px;
}