@import '../../styles/library';

.friendEntity {
	width: 100%;
	padding: 15px	20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.friendEntity_name {
	margin:	0px;
	color: $black-color;
	text-decoration: none;
	position: relative;
	display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}