@import '../../styles/library';

.message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-family: $font-family;
	padding: 10px 20px;
	box-sizing: border-box;
	gap: 10px;
}

.message_profilePic {
	display: flex;
	align-items: center;
	justify-content: center;
}

.message_username {
	font-weight: 600;
}

.message_content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.message_text {
	color: $black-color;
	word-break: break-word;
}

.message_left {
	display: flex;
	gap: 10px;
}

.message_right {
	display: flex;
	align-items: center;
	gap: 10px;
}