@import '../library';

.link {
	text-decoration: none;
	font-family: $font-family;
	color: $white-font-color;
	font-size: 16px;
	font-weight: 100;
}

.active_link {
	text-decoration: underline;
	font-family: $font-family;
	color: $white-font-color;
	font-size: 16px;
	font-weight: 500;
}